//累積獎金背景
.mainWrap .imgBox {
    background: url('../images/prize.gif') no-repeat;
}
.mainWrap .imgBox li.empty {
    background: url('../images/num_gray.png') no-repeat;
}
.mainWrap .imgBox li {
    background: url('../images/num_gold.png') no-repeat;
}
.info_BG .bgStar {
    background: url('../images/background_star.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle1 {
    background: url('../images/circle1.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle2 {
    background: url('../images/circle2.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle3 {
    background: url('../images/circle3.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle4 {
    background: url('../images/circle4.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle5 {
    background: url('../images/circle5.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle6 {
    background: url('../images/circle6.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle7 {
    background: url('../images/circle7.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle8 {
    background: url('../images/circle8.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle9 {
    background: url('../images/circle9.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle10 {
    background: url('../images/circle10.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle11 {
    background: url('../images/circle13-2.gif') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle12 {
    background: url('../images/circle12.png') no-repeat top center;
    background-size: contain;
}
.info_BG .bgCircle .circle13 {
    background: url('../images/circle13.png') no-repeat top center;
    background-size: contain;
}
.info_BG .imgBox {
    background: url('../images/info_prize.png') no-repeat center;
    background-size: contain;
}
.info_BG .imgBox .title {
    background: url('../images/title.png') no-repeat center;
    background-size: contain;
}
.info_BG .imgBox .scale {
    background: url('../images/scale.png') no-repeat center;
    background-size: contain;
}
.info_BG .imgBox .scale .progress {
    background: url('../images/progress.png') no-repeat;
}
.info_BG .imgBox .scale .progress .front {
    background: url('../images/front2.gif') no-repeat center;
    background-size: contain;
}
.info_BG .imgBox li.empty {
    background: url('../images/info_num_trans.png') no-repeat;
    background-size: contain;
}
.info_BG .imgBox li {
    background: url('../images/info_num_trans2.png') no-repeat;
}

//info
.info_BG {
    background: url('../images/info_BG.png') no-repeat top center;
    background-size: cover;
}
.info_BG .topStar {
    background: url('../images/top_bg.png') no-repeat top center;
    background-size: cover;
}
.info_BG .bottomStar {
    background: url('../images/bottom_bg.png') no-repeat top center;
    background-size: cover;
}
.infoWrap .immInfo .time_ic {
    background: url('../images/info_timeIC.png') no-repeat;
    background-size: contain;
}
.infoWrap .immInfo .arrow_ic,
.infoWrap .lotteryBox .arrow_ic {
    background: url('../images/info_dbArrowIC.png') no-repeat;
    background-size: contain;
}
.infoWrap article .content .title .ornament {
    background: url('../images/inner_title.png') no-repeat center;
    background-size: contain;
}
.infoWrap article .content .lotteryBox .outerBox .lottoInfo .ballBox .smallTitle .download {
    background: url('../images/download_ic.png') no-repeat center;
    background-size: contain;
}


//img

//logo
header .logo {
    height: 42px;
    object-fit: contain;
}
header .logo.info {
    height: 36px;
    object-fit: contain;
}

.infoHeader .topBar {
    background: url(../images/logo_bg.png) no-repeat center;
    background-size: contain;
}