//infoWrap
.infoWrap {
    width: 100%;
    height: auto;
    padding: 420px 0 50px;
    position: relative;
    z-index: 3;
    // display: none;

    //article
    article {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        position: relative;

        //內容
        .content {
            width: 1000px;
            height: auto;
            background: $info_BG;
            border: 2px solid $home_OuterBorder;
            border-radius: 10px;
            box-shadow: 0 0 10px 2px $info_Shadow;
            box-sizing: border-box;
            padding: 30px 0 20px;
            margin: 0 auto;

            .title {
                width: 850px;
                height: 45px;
                background: linear-gradient(to right, #a97849 0%, #e6c77a 8%, #fffadd 25%, #e6c77a 50%, #a97849 84%, #e6c77a 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 0 auto;
                border-radius: 10px 10px 0 0;

                p {
                    color: $header_Word;
                    font-size: 26px;
                    font-weight: bold;
                }
            }

            //即時投注
            .immediateBox {
                width: 850px;
                height: auto;
                background: $info_innerBG;
                box-shadow: 0 0 10px 2px $info_Shadow inset;
                border: 0.1px solid $home_OuterBorder;
                overflow: hidden;
                margin: 0 auto 30px;
                border-radius: 0 0 10px 10px;

                //即時回傳內容
                .immInfo {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 16px;

                    //標頭
                    .name {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        background: #cb0000;

                        li {
                            color: $info_immediate_Title;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;

                            &:nth-of-type(1) {
                                width: 19%;
                            }
                            &:nth-of-type(2) {
                                width: 21%;
                            }
                            &:nth-of-type(3) {
                                width: 19%;
                            }
                            &:nth-of-type(4) {
                                width: 40%;
                            }
                        }
                    }

                    //內容
                    .betBox {
                        width: 100%;
                        height: 695px;
                        margin-bottom: 20px;
                        overflow-y: overlay;
                        transition: 0.3s all;
                        @include scrollBar_2;

                        &.active {
                            height: 1200px;
                        }

                        ul {
                            width: 100%;
                            height: auto;

                            li {
                                width: 100%;
                                height: 58px;
                                background: $info_innerBG2;
                                box-shadow: 0 1px 3px 0 $info_Shadow;
                                display: flex;
                                margin-bottom: 5px;

                                &:last-child {
                                    margin: 0;
                                }

                                div {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    &:nth-of-type(1),
                                    &:nth-of-type(2) {
                                        width: 20%;
                                    }
                                    &:nth-of-type(3) {
                                        width: 20%;
                                    }
                                    &:nth-of-type(4) {
                                        width: 40%;
                                    }

                                    p {
                                        color: $mainWord_2;
                                        font-size: 20px;
                                        font-weight: bold;
                                    }

                                    span {
                                        width: 45px;
                                        height: 45px;
                                        @include ballBtn;
                                        font-size: 23px;
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                    }

                    //按鈕區
                    .btnBox {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: space-between;
                        position: relative;

                        button {
                            width: auto;
                            min-width: 98px;
                            height: 35px;
                            @include redBtn;

                            &.time {

                                i {
                                    display: block;
                                    width: 12px;
                                    height: 12px;
                                    margin: 0 8px;
                                }

                                span {
                                    width: 46px;
                                    height: 22px;
                                }
                            }

                            &.more {
                                @include yellowBtn;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                display: none;

                                &.display {
                                    display: flex;
                                }

                                i {
                                    display: block;
                                    width: 11px;
                                    height: 11px;
                                    margin-left: 8px;

                                    &.turn {
                                        transform: scaleY(-1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //開獎資訊
            .lotteryBox {
                width: 850px;
                height: auto;
                background: $info_innerBG;
                box-shadow: 0 0 10px 2px $info_Shadow inset;
                border: 0.1px solid $home_OuterBorder;
                overflow: hidden;
                margin: 0 auto 30px;
                border-radius: 0 0 10px 10px;

                .outerBox {
                    width: 100%;
                    height: 378px;
                    transition: 0.3s all;
                    @include scrollBar_2;

                    &.active {
                        height: 800px;
                        padding-bottom: 10px;
                        overflow-y: auto;
                    }

                    //資訊欄
                    .lottoInfo {
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        padding: 0 16px;
                        display: none;

                        &.display {
                            display: block;
                        }

                        //開獎列
                        .ballBox {
                            width: 100%;
                            height: auto;
                            box-shadow: 0 2px 10px 0 $info_Shadow;
                            margin-top: 16px;

                            .smallTitle {
                                width: 100%;
                                height: 45px;
                                background: $home_TitleBG;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px 5px 0 0;
                                position: relative;
            
                                p {
                                    color: $home_Title;
                                    font-size: 20px;
                                    font-weight: bold;
                                }

                                .download {
                                    width: 24px;
                                    height: 22px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 20px;
                                    cursor: pointer;
                                }
                            }

                            //主內容
                            .lottoBox {
                                width: 100%;
                                height: auto;

                                table {
                                    width: 100%;
                                    height: auto;
                                    background: $info_innerBG2;

                                    tr {
                                        width: 100%;
                                        height: 65px;
                                        border-bottom: solid 1px $mainBorder_1;

                                        &:last-child {
                                            border: none;
                                        }

                                        th {
                                            border-right: solid 1px $mainBorder_1;
                                            vertical-align: middle;

                                            &:last-child {
                                                border: none;
                                            }

                                            p {
                                                color: $mainWord_2;
                                                font-size: 18px;
                                                font-weight: bold;

                                                &:last-child {
                                                    margin-top: 5px;
                                                }
                                            }
                                        }

                                        td {
                                            border-right: solid 1px $mainBorder_1;
                                            vertical-align: middle;

                                            &:last-child {
                                                border: none;
                                            }

                                            p {
                                                color: $mainWord_2;
                                                font-size: 18px;
                                                font-weight: bold;
                                                text-align: center;
                                            }

                                            div {
                                                width: 100%;
                                                height: 100%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;

                                                span {
                                                    width: 52px;
                                                    height: 52px;
                                                    @include ballBtn;
                                                    font-size: 25px;
                                                    margin: 0 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //獎金列
                        .pointBox {
                            width: 100%;
                            height: auto;
                            margin-top: 16px;

                            table {
                                width: 100%;
                                height: auto;
                                background: $info_innerBG2;
                                border-radius: 5px 5px 0 0;
                                box-shadow: 0 0 0 1px $mainBorder_1,0 2px 10px 0 $info_Shadow;
                                overflow: hidden;

                                tr {
                                    width: 100%;
                                    height: 40px;

                                    &:first-child {
                                        background: $home_TitleBG;
                                    }

                                    &:last-child {

                                        td {
                                            border-bottom: none;
                                        }
                                    }

                                    th {
                                        background: transparent;
                                        vertical-align: middle;

                                        p {
                                            color: $home_Title;
                                            font-size: 20px;
                                            font-weight: bold;
                                        }
                                    }

                                    td {
                                        width: 12%;
                                        border-style: solid;
                                        border-width: 0 1px 1px 0;
                                        border-color: $mainBorder_1;
                                        box-sizing: border-box;
                                        vertical-align: middle;

                                        &.big {
                                            width: 18%;
                                            border-bottom: none;
                                        }
                                        &.word {
                                            width: 16%;
                                        }

                                        &:last-child {
                                            border-right: none;
                                        }

                                        p {
                                            color: $mainWord_2;
                                            font-size: 17px;
                                            font-weight: bold;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //查看更多
                .more {
                    width: 154px;
                    height: 35px;
                    @include yellowBtn;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    margin: 25px auto;

                    &.display {
                        display: flex;
                    }

                    &.close {

                        i {
                            transform: scaleY(-1);
                        }
                    }

                    i {
                        display: block;
                        width: 11px;
                        height: 11px;
                        margin-left: 8px;
                    }
                }
            }

            //最下字
            .bottomWord {
                width: 100%;
                color: $info_BottomWord;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                margin: 20px 0;
            }
        }
    }
}

//背景
.info_BG {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1205px 0;
    overflow: hidden;
    // z-index: 2;

    // 上方背景
    .topStar {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // animation: flash_1 20s ease-out infinite;

        @keyframes flash_1 {
            0% {
                transform: translate(-50%,0%);
            }
            20% {
                transform: translate(-51%,-1%);
            }
            40% {
                transform: translate(-49%,1%);
            }
            60% {
                transform: translate(-51%,-2%);
            }
            80% {
                transform: translate(-52%,-1%);
            }
            100% {
                transform: translate(-50%,0%);
            }
        }
        .airFlow {
            width: 1920px;
            height: 565px;
            // z-index: 5;
            top: -15px;
            right: 0px;
            position: absolute;
            animation: airFlow 1s linear infinite;

            @keyframes airFlow {
                0% {
                    opacity: 0;
                    transform: scale(0) rotate(0);
                }
                5% {
                    opacity: 1;
                    transform: scale(1) rotate(0);
                }
                10% {
                    opacity: 1;
                    transform: scale(1) rotate(0);
                }
                30% {
                    opacity: 0;
                    transform: scale(1) rotate(0);
                }
                100% {
                    opacity: 0;
                }
            }
        }
        // 光圈git
        .aperture {
            width: 501px;
            height: 501px;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
        .ball {
            display: inline-block;
            width: 123px;
            height: 123px;
            top: 0px;
            right: 0px;
            position: absolute;

            &.ball1 {
                top: 20px;
                left: 250px;
                animation-delay: 1.2s;
                animation: ball1 2s infinite linear normal;
                
                @keyframes ball1 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.8) rotate(-25deg) translate3d(-50px, 50px, 0);
                    }
                    50% {
                        transform: scale(1) rotate(25deg) translate3d(-100px, 100px, 0);
                    }
                    80% {
                        transform: scale(1) rotate(-25deg) translate3d(-250px, 150px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            &.ball2 {
                top: 460px;
                left: 170px;
                animation-delay: 1s;
                animation: ball2 2s infinite linear normal;
                
                @keyframes ball2 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.8) rotate(-25deg) translate3d(-50px, 50px, 0);
                    }
                    50% {
                        transform: scale(1) rotate(25deg) translate3d(-120px, -200px, 0);
                    }
                    80% {
                        transform: scale(1) rotate(-25deg) translate3d(-150px, 150px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            &.ball3 {
                top: 210px;
                left: 20px;
                animation-delay: 3.5s;
                animation: ball3 2s infinite linear normal;
                
                @keyframes ball3 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.8) rotate(-25deg) translate3d(100px, -150px, 0);
                    }
                    50% {
                        transform: scale(1) rotate(25deg) translate3d(200px, -200px, 0);
                    }
                    80% {
                        transform: scale(1) rotate(25deg) translate3d(250px, 150px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            &.ball4 {
                top: 100px;
                right: 100px;
                animation-delay: 1.5s;
                animation: ball4 2s infinite linear normal;
                
                @keyframes ball4 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.7) rotate(-25deg) translate3d(-100px, -180px, 0);
                    }
                    50% {
                        transform: scale(1.1) rotate(25deg) translate3d(-200px, 150px, 0);
                    }
                    80% {
                        transform: scale(1) rotate(25deg) translate3d(200px, 150px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            &.ball5 {
                top: 400px;
                right: 190px;
                animation-delay: 9s;
                animation: ball5 2s infinite linear normal;
                
                @keyframes ball5 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.9) rotate(-25deg) translate3d(-150px, 150px, 0);
                    }
                    50% {
                        transform: scale(1.1) rotate(25deg) translate3d(100px, 100px, 0);
                    }
                    80% {
                        transform: scale(1) rotate(25deg) translate3d(-120px, -110px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            &.ball6 {
                top: 190px;
                right: 300px;
                animation-delay: 8.5s;
                animation: ball6 2s infinite linear normal;
                
                @keyframes ball6 {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    20% {
                        transform: scale(0.6) rotate(-25deg) translate3d(-50px, 50px, 0);
                    }
                    50% {
                        transform: scale(1) rotate(25deg) translate3d(250px, 100px, 0);
                    }
                    80% {
                        transform: scale(0.6) rotate(25deg) translate3d(250px, -100px, 0);
                    }
                    100% {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
    }

    //獎池圖
    .imgBox {
        width: 910px;
        height: 346px;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        animation: rotate_1 0.5s linear infinite;

        @keyframes rotate_1 {
            0% {
                transform: translateX(-50%) rotate(0.5deg);
            }
            50% {
                transform: translateX(-50%) rotate(-0.5deg);
            }
            100% {
                transform: translateX(-50%) rotate(0.5deg);
            }
        }
        .title {
            width: 448px;
            height: 81px;
            position: absolute;
            top: 100px;
            left: 236px;
        }
        .star {
            width: 505px;
            height: 100px;
            position: absolute;
            top: 75px;
            left: 210px;
        }

        .coin {
            width: 92px;
            height: 91px;
            position: absolute;
            top: 196px;
            left: 52px;
        }

        ul {
          width: 100%;
          height: auto;
          position: absolute;
          top: 195px;
          left: 77px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;

            li {
                width: 61px;
                height: 103px;

                &.num_0 {
                    background-position-y: 0%;
                }
                &.num_1 {
                    background-position-y: 10%;
                    margin-left: 8px;
                }
                &.num_2 {
                    background-position-y: 20%;
                }
                &.num_3 {
                    background-position-y: 30%;
                }
                &.num_4 {
                    background-position-y: 40%;
                    margin-left: 8px;
                }
                &.num_5 {
                    background-position-y: 50%;
                }
                &.num_6 {
                    background-position-y: 60%;
                }
                &.num_7 {
                    background-position-y: 70%;
                    margin-left: 8px;
                }
                &.num_8 {
                    background-position-y: 80%;
                }
                &.num_9 {
                    background-position-y: 90%;
                }
                &.anime_1 {
                    animation: numMove_1 3s ease-in-out 2s alternate-reverse infinite;
                }
                @keyframes numMove_1 {
                    0% {
                        background-position-y: 2%;
                    }
                    20% {
                        background-position-y: 0;
                    }
                    80% {
                        background-position-y: 10%;
                    }
                    95% {
                        background-position-y: 12%;
                    }
                    100% {
                        background-position-y: 10%;
                    }
                }
                &.anime_2 {
                    animation: numMove_2 5s ease-in-out 0s alternate-reverse infinite;
                }
                @keyframes numMove_2 {
                    0% {
                        background-position-y: 2%;
                    }
                    20% {
                        background-position-y: 0;
                    }
                    80% {
                        background-position-y: 10%;
                    }
                    95% {
                        background-position-y: 12%;
                    }
                    100% {
                        background-position-y: 10%;
                    }
                }
            }
        }

        // 進度條
        .scale {
            width: 710px;
            height: 40px;
            position: absolute;
            top: 342px;
            left: 138px;
            animation: shock_1 0.8s linear infinite;

            @keyframes shock_1 {
                0% {
                    transform: translate(0%,0%);
                }
                40% {
                    transform: translate(-0.5%,-0.5%);
                }
                50% {
                    transform: translate(0%,0%);
                }
                60% {
                    transform: translate(-0.5%,0.5%);
                }
                100% {
                    transform: translate(0%,0%);
                }
            }

            .progress {
                width: 666px;
                height: 20px;
                position: absolute;
                top: 50%; 
                left: 20px;
                transform: translateY(-50%);
                animation: progress_1  5s linear 0s 1;
                animation-fill-mode: forwards;
                border-radius: 0 20px 20px 0;

                @keyframes progress_1 {
                    0% {
                        width: 400px;
                    }
                    10% {
                        width: 500px;
                        filter: drop-shadow(0px 0px 10px #5bfedd) contrast(100%);
                    }
                    30% {
                        width: 600px;
                        filter: drop-shadow(0px 0px 0px #5bfedd) contrast(100%);
                    }
                    40% {
                        width: 610px;
                        filter: drop-shadow(0px 0px 10px #5bfedd) contrast(100%);
                    }
                    50% {
                        width: 620px;
                        filter: drop-shadow(0px 0px 0px #5bfedd) contrast(100%);
                    }
                    100% {
                        width: 630px;
                        filter: drop-shadow(0px 0px 10px #5bfedd) contrast(100%);
                    }
                }

                .front {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: -24px;
                    top: -5px;
                }
            }
        }
    }
}



